@import url("https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap");

/* .main_container {
  background-color: white;
}

h3,
p {
  color: white;
  font-family: "Tenor Sans", sans-serif;
  text-align: center;
}

h1 {
  font-family: "Tenor Sans", sans-serif;
  text-align: center;
}
*/


.header_text h1 {
  font-family: "Tenor Sans", sans-serif;
  display: flex;
  text-align: center;
  font-size: 30px;
}

.divider {
  display: flex;
  justify-content: flex-end;
}

.divider hr {
  width: 300px;
  height: 1px;
  margin: 15px;
}

.Logo img {
  width: 100px;
  height: 55px;
}

.main_card {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  border: 0;
  margin-left: 450px;
  border-radius: 4px;
  font-family: "Tenor Sans", sans-serif;
}

.main_card img {
  opacity: 1;
  display: block;
  transition: 0.5s ease;
}

.cardImg .main_card:hover img {
  opacity: 0.3;
}

@media only screen and (max-width: 768px) {
  .main_card {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    border: 0;
    
  }
}

@media only screen and (max-width: 1910px) {
  .main_card {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    border: 0;
    
  }
}


.card_hr hr {
  width: 1px;
  height: 100px;
}

.divider_main_card hr {
  width: auto;
  height: 1px;
  margin-top: 0;
}
